#showTable {
    border-collapse: collapse;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
tr td {
    border: 1px solid black;
}
#reStart {
    margin-top: 0px;
}
#content {
    color: white;
    font-size: 16px;
}
#flag {
    font-size: 16px;
}
.onMap {
    background-color: #f0f0f5;
}
.checkArount {
    border: 2px ridge red;
}
.row button {
    margin-top: 12px;
}
div {
    float: none;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}